[Unit]
Description=<appName> service
StartLimitIntervalSec=400
StartLimitBurst=3

After=mysql.service
After=network-online.target
Wants=network-online.target

StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=exec
User=<user>
Group=<user>
EnvironmentFile=/etc/environment
WorkingDirectory=/home/<user>/<appName>
ExecStart=/home/<user>/<appName>/web -prod
Restart=always
RestartSec=90

[Install]
WantedBy=multi-user.target

